{% extends 'main.html.twig' %}

{% block title %}{{ trailer.title }}{% endblock %}
{% block description %}{{ trailer.description }}{% endblock %}

{% block content %}
    <div class="container">
        <a href="/">Назад</a>
        <br>
        <h1 class="mt-5 mb-4">{{ trailer.title  }}</h1>
        <h1 class="mt-5 mb-4">{{ trailer.link  }}</h1>
        <h1 class="mt-5 mb-4">{{ trailer.image  }}</h1>
        <h1 class="mt-5 mb-4">{{ trailer.description  }}</h1>
        <h1 class="mt-5 mb-4">{{ trailer.pubDate  }}</h1>
    </div>
{% endblock %}
